// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.progress {
	margin-bottom: 0px;
}

.flash-message p {
	margin-top: -20px;
}

.popover.confirmation {
	width: 130px;
}

ul.done li {
	text-decoration: line-through;
}

/* Used to offset icon in transactions/index.blade.php */
.offset-left {
	margin-left: -20px;
	margin-right: 4px;
}

@import "typeahead.scss"
